<app-nav-bar></app-nav-bar>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Price</th>
        <th scope="col">Products</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.address }}</td>
        <td>{{ order.price }}</td>
        <td *ngFor="let product of order.products">{{ product.name }}</td>
        <td *ngIf="!order.accepted">
          <button
            type="button"
            class="btn btn-success"
            (click)="onAccept(order.id)"
          >
            Accept
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
