<app-nav-bar></app-nav-bar>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Price</th>
        <th scope="col">Products</th>
        <th>Status(Accepted?)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.address }}</td>
        <td>{{ order.price }}</td>
        <td *ngFor="let product of order.products">{{ product.name }}</td>
        <td *ngIf="order.accepted; else elseBlock2">Accepted</td>
        <ng-template #elseBlock2>
          <td>Not accepted</td>
          >
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
